@charset "UTF-8";
.header {
  text-align: center;
  padding-top: 10px;
}

a {
  text-decoration: none;
}

.nav__header {
  color: #444444;
  font-family: "Crete_Round";
  font-size: 1.8rem;
  white-space: nowrap;
}

.pink {
  color: #E83B89;
}

/* =================================================================================== */
/* BLOCK : Menu                                                                        */
/* =================================================================================== */
.nav__list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-align: center;
  margin-top: 20px;
}
.nav__list__item {
  margin: 0 2px;
}
.nav__list__link {
  display: inline-block;
  color: #444444;
  font-weight: 700;
  font-size: 0.7rem;
  text-transform: uppercase;
}

@media (min-width: 750px) {
  /* =================================================================================== */
  /* BLOCK : header                                                                      */
  /* =================================================================================== */
  /* =================================================================================== */
  /* BLOCK : Title                                                                       */
  /* =================================================================================== */
  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
  }
  .nav__list {
    gap: 20px;
  }
}
/* =================================================================================== */
/* BLOCK :  FOOTER                                                                     */
/* =================================================================================== */
.footer {
  background-color: #444444;
  text-align: center;
  color: #FFFFFF;
}
.footer__title {
  padding-top: 10px;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.footer__copyright {
  padding-bottom: 20px;
  font-size: 0.9rem;
  font-weight: 700;
  color: #767676;
}

@media (min-width: 750px) {
  .footer {
    background-color: #444444;
    text-align: center;
    padding-top: 25px;
    color: #FFFFFF;
  }
  .footer__title {
    padding-top: 10px;
    font-size: 1.5rem;
    margin-bottom: 25px;
  }
  .footer__copyright {
    padding-bottom: 20px;
    font-size: 0.9rem;
    font-weight: 700;
    color: #767676;
    padding-bottom: 25px;
  }
}
.hero {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 220px;
  background-image: url("../../images/main.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.hero__title {
  text-align: center;
  padding-top: 30px;
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 1;
}
.hero__title h2 {
  font-weight: 300;
  margin-top: 10px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.hero__bold {
  font-weight: bold;
  display: block;
}
.hero__button {
  background-color: #E83B89;
  padding: 10px;
  border-radius: 3px;
  color: #FFFFFF;
  border: none;
}

@media (min-width: 750px) {
  .hero {
    height: 400px;
    width: 100%;
    gap: 10px;
    justify-content: flex-start;
    padding-top: 50px;
    align-items: center;
  }
  .hero__title {
    font-size: 2rem;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 0;
  }
  .hero__button {
    background-color: #E83B89;
    padding: 10px;
    border-radius: 3px;
    color: #FFFFFF;
    border: none;
    position: static;
    transform: none;
    width: auto;
    justify-content: start;
    width: 10%;
    margin-top: 40px;
  }
}
/* =================================================================================== */
/* BLOCK : QUALITY                                                                     */
/* =================================================================================== */
.quality {
  text-align: center;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}
.quality__title {
  text-transform: uppercase;
  color: #444444;
}
.quality__description {
  margin: 0 10px 20px 10px;
  font-size: 0.5rem;
}

@media (min-width: 750px) {
  /* =================================================================================== */
  /* BLOCK : QUALITY                                                                     */
  /* =================================================================================== */
  .quality {
    text-align: center;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .quality__cards {
    margin: 15px;
    width: 30%;
  }
  .quality__description {
    margin: 10px 2px 20px 2px;
    font-size: 0.9rem;
  }
}
/* =================================================================================== */
/* BLOCK :  PROMOTION                                                                  */
/* =================================================================================== */
.promotion {
  height: 480px;
  width: 100%;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.promotion__cards {
  display: flex;
  height: 210px;
  width: 90%;
  border: 1px solid #ECECEC;
  border-radius: 10px;
  margin: 4px;
}
.promotion__info {
  background-color: #FFFFFF;
  height: 100%;
  width: 50%;
  text-align: center;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding-bottom: 10px;
}
.promotion__subtitle {
  padding-top: 20px;
  color: #444444;
  font-weight: 700;
  text-transform: uppercase;
}
.promotion__subtitle::after {
  content: "";
  display: block;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #ECECEC;
}
.promotion__description {
  margin: 5px 2px;
  line-height: 1.5;
  font-size: 0.8rem;
  font-style: italic;
  color: #747474;
}
.promotion__button {
  background-color: #E83B89;
  padding: 10px;
  border-radius: 3px;
  color: #FFFFFF;
  border: none;
}

.image__one {
  background-image: url("../../images/article-image-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.image__tow {
  background-image: url("../../images/article-image-2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 750px) {
  /* =================================================================================== */
  /* BLOCK :  PROMOTION                                                                  */
  /* =================================================================================== */
  .promotion {
    height: 300px;
    width: 100%;
    background-color: #efefef;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 30px;
  }
  .promotion__cards {
    height: 210px;
    width: 375px;
    border: 1px solid #ECECEC;
    border-radius: 10px;
    margin: 10px;
  }
}
/* =================================================================================== */
/* BLOCK :  CONTACT                                                                    */
/* =================================================================================== */
.contact {
  text-align: center;
}
.contact__title {
  text-transform: uppercase;
  color: #444444;
  width: 80%;
  margin: 0 auto;
}
.contact__title ::after {
  content: "";
  display: block;
  margin: 0 auto;
  border-bottom: 2px solid #BDECF6;
  padding-bottom: 5px;
}
.contact__description {
  margin: 10px 5px;
  font-size: 0.5rem;
}

/* =================================================================================== */
/* BLOCK :  DEBUT DU FORMULAIRE                                                        */
/* =================================================================================== */
.form {
  max-width: 600px;
  margin: 0 auto;
}
.form__field {
  margin-bottom: 15px;
}
.form__label {
  margin-right: 5px;
  color: #747474;
  font-weight: bolder;
}
.form__input {
  padding: 5px;
  border: 2px solid #ECECEC;
}
.form__button {
  background-color: #E83B89;
  padding: 10px;
  border-radius: 3px;
  color: #FFFFFF;
  border: none;
  margin-bottom: 20px;
}

/* Fin du formulaire */
@media (min-width: 750px) {
  .contact {
    text-align: center;
  }
  .contact__title {
    text-transform: uppercase;
    color: #444444;
    width: 30%;
    margin: 0 auto;
    padding-top: 20px;
  }
  .contact__title ::after {
    content: "";
    display: block;
    margin: 0 auto;
    border-bottom: 2px solid #BDECF6;
    padding-bottom: 5px;
  }
  .contact__description {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    font-size: 0.9rem;
    width: 95%;
  }
  /* Début du formulaire */
  .form {
    margin: 0 auto;
  }
  .form__field {
    margin-bottom: 15px;
    display: inline-block;
    margin-right: 20px;
  }
  .form__label {
    margin-right: 5px;
    color: #747474;
    font-weight: bolder;
  }
  .form__input {
    padding: 5px;
    border: 2px solid #ECECEC;
  }
  .form__button {
    margin-bottom: 70px;
  }
  /* Fin du formulaire */
}

/*# sourceMappingURL=main.css.map */
