* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  text-align: center;
  padding-top: 10px;
  color: #444444;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
    align-items: flex-end;
    padding: 0 20px;
  }
}
.header__nav {
  color: #444444;
  font-family: "Crete_Round";
  font-size: 1.8rem;
  white-space: nowrap;
}
.header__link-title {
  color: #444444;
  text-decoration: none;
  white-space: nowrap;
  font-size: 2rem;
  font-family: "Crete_Round";
}
.header__nav-link {
  text-decoration: none;
  display: inline-block;
  color: #444444;
  font-weight: 700;
  font-size: 0.6rem;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .header__nav-link {
    font-size: 0.9rem;
  }
}
.header__nav-list {
  display: flex;
  justify-content: space-around;
  list-style: none;
  text-align: center;
}
@media (768px) {
  .header__nav-list {
    gap: 10px;
    margin-bottom: 0;
  }
}
.header__nav-item {
  margin: 0 2px;
}

/* =================================================================================== */
/* BLOCK : Menu                                                                        */
/* =================================================================================== */
.footer {
  background-color: #444444;
  text-align: center;
  color: #FFFFFF;
}
@media (min-width: 750px) {
  .footer {
    background-color: #444444;
    text-align: center;
    padding-top: 25px;
    color: #FFFFFF;
  }
  .footer__copyright {
    padding-bottom: 20px;
    font-size: 0.9rem;
    font-weight: 700;
    color: #767676;
    padding-bottom: 25px;
  }
}
@media (min-width: 750px) and (min-width: 768px) {
  .footer__copyright {
    padding-bottom: 20px;
    font-size: 0.9rem;
    font-weight: 700;
    color: #767676;
    padding-bottom: 25px;
  }
}
.footer__title {
  padding-top: 10px;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .footer__title {
    padding-top: 10px;
    font-size: 1.5rem;
    margin-bottom: 25px;
  }
}
.footer__title-link {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__copyright {
  padding-bottom: 20px;
  font-size: 0.9rem;
  font-weight: 700;
  color: #767676;
}

.hero {
  height: 280px;
  gap: 32px;
  background-image: url("/images/main.jpg");
  background-size: cover;
  background-position: center;
  background-size: 350%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .hero {
    height: 500px;
    background-size: auto;
  }
}
.hero__title {
  text-align: center;
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 1;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 4rem;
  }
}
.hero__title {
  font-weight: 300;
  text-transform: uppercase;
}
.hero__bold {
  font-weight: bold;
  display: block;
}
.hero__button {
  background-color: #E83B89;
  padding: 10px 22px;
  border-radius: 4px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

@font-face {
  font-family: "Crete_Round";
  src: url("../../font/Crete_Round/CreteRound-Regular.ttf");
}
@font-face {
  font-family: "CreteRound-Italic";
  src: url("../../font/Crete_Round/CreteRound-Italic.ttf");
}
@font-face {
  font-family: "Roboto";
  src: url("../../font/Roboto/Roboto-VariableFont.ttf");
}
@font-face {
  font-family: "Roboto_italic";
  src: url("../../font/Roboto/Roboto-Italic-VariableFont_wdth,wght.ttf");
}
body {
  font-family: "Roboto", sans-serif;
  /* Couleur de font */
  color: #767676;
  line-height: 1.7;
}

.pink {
  color: #E83B89;
}

/* =================================================================================== */
/* BLOCK : QUALITY                                                                     */
/* =================================================================================== */
.quality {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .quality {
    flex-direction: row;
    justify-content: center;
  }
  .quality__cards {
    margin: 15px;
    width: 30%;
  }
}
.quality__title {
  text-transform: uppercase;
  color: #444444;
}
.quality__description {
  margin: 0 10px 20px 10px;
  font-size: 1rem;
  color: #767676;
}
@media (min-width: 768px) {
  .quality__description {
    margin: 10px 2px 20px 2px;
    font-size: 1rem;
  }
}
.quality__image {
  height: 60px;
  width: 60px;
}

/* =================================================================================== */
/* BLOCK :  PROMOTION                                                                  */
/* =================================================================================== */
.promotion {
  height: 480px;
  width: 100%;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .promotion {
    height: 300px;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 30px;
  }
}
.promotion__cards {
  display: flex;
  height: 230px;
  width: 90%;
  border: 1px solid #ECECEC;
  border-radius: 10px;
  margin: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}
@media (min-width: 768px) {
  .promotion__cards {
    height: 210px;
    width: 375px;
  }
}
.promotion__info {
  background-color: #FFFFFF;
  height: 100%;
  width: 50%;
  text-align: center;
  border-radius: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  padding-bottom: 10px;
}
.promotion__subtitle {
  padding-top: 20px;
  color: #444444;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.promotion__subtitle::after {
  content: "";
  display: block;
  width: 80%;
  margin: 0 auto;
  border-bottom: 1px solid #ECECEC;
}
.promotion__description {
  margin: 5px 2px;
  line-height: 1.5;
  font-size: 0.8rem;
  font-style: italic;
  color: #747474;
}
.promotion__description p {
  margin: 0;
}
.promotion__button {
  background-color: #E83B89;
  padding: 10px 22px;
  border-radius: 4px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  width: 120px;
  margin-bottom: 20px;
}
.promotion__cards--club {
  background-image: url("../../images/article-image-1.jpg");
}
.promotion__cards--actu {
  background-image: url("../../images/article-image-2.jpg");
}

/* =================================================================================== */
/* BLOCK :  CONTACT                                                                    */
/* =================================================================================== */
.contact {
  text-align: center;
}
.contact__title {
  text-transform: uppercase;
  color: #444444;
  width: 70%;
  margin: 0 auto;
  white-space: nowrap;
  font-size: 1.2rem;
}
@media (min-width: 768px) {
  .contact__title {
    width: 30%;
    padding-top: 20px;
  }
  .contact__title ::after {
    content: "";
    display: block;
    margin: 0 auto;
    border-bottom: 2px solid #BDECF6;
    padding-bottom: 5px;
  }
}
.contact__title::after {
  content: "";
  display: block;
  margin: 0 auto;
  border-bottom: 2px solid #BDECF6;
  padding-bottom: 5px;
}
.contact__description {
  margin: 20px 5px;
  font-size: 1rem;
}

/* =================================================================================== */
/* BLOCK :  DEBUT DU FORMULAIRE                                                        */
/* =================================================================================== */
.form {
  max-width: 600px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .form {
    margin: 0 auto;
  }
}
.form__field {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .form__field {
    display: inline-block;
    margin-right: 20px;
  }
}
.form__label {
  margin-right: 5px;
  color: #747474;
  font-weight: bolder;
}
@media (min-width: 768px) {
  .form__label {
    margin-right: 5px;
    color: #747474;
    font-weight: bolder;
  }
}
.form__input {
  padding: 5px;
  border: 2px solid #ECECEC;
}
.form__button {
  background-color: #E83B89;
  padding: 10px 22px;
  border-radius: 4px;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .form__button {
    margin-bottom: 70px;
  }
}

/*# sourceMappingURL=main.css.map */
