@charset "UTF-8";
/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  color: #767676;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

/* Font */
@font-face {
  font-family: "Roboto";
  src: url("../../font/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("../../font/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Crete_Round";
  src: url("../../font/Crete_Round/CreteRound-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Crete_Round";
  src: url("../../font/Crete_Round/CreteRound-Italic.ttf");
  font-weight: 400;
  font-style: normal;
}
.pink {
  color: #E83B89;
}

/* text decoration */
button {
  background-color: #E83B89;
  padding: 10px;
  border-radius: 3px;
  color: #FFFFFF;
  width: 120px;
  border: none;
}

/* Première partie de ma page */
header {
  background-color: #FFFFFF;
  text-align: center;
  width: 100%;
}

/* Le titre de ma page */
h1 {
  margin-top: 20px;
  font-family: "Roboto";
  font-size: 1.4rem;
}

/* bloc nav */
.nav__list {
  list-style: none; /* Supprime les puces/numéros de la liste <ul>/<ol> */
  text-align: left;
  margin-top: 10px;
  margin-left: 20px;
  padding-left: 0;
}

.nav__item {
  margin: 0;
  display: inline-block;
}

.nav__link {
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  text-decoration: none;
  color: #444444;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 0.8rem;
  white-space: nowrap;
}

@media (min-width: 750px) {
  header {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .nav {
    margin-top: 20px;
    font-size: 1rem;
  }
  .nav li {
    margin-left: 15px;
  }
}
footer {
  margin-top: 40px;
  text-align: center;
  height: 150px;
  background-color: #444444;
}

.footer__title {
  color: #FFFFFF;
  padding-top: 3cap;
  padding-bottom: 20px;
}

.footer__text {
  font-size: 0.8rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../images/main.jpg");
  height: 200px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
  margin-bottom: 20px;
}

/* Le titre */
.Title {
  margin-top: 20px;
  text-align: center;
}

.fitz {
  font-family: "Roboto", serif;
  font-weight: 400;
}

.bold {
  font-family: "Roboto", serif;
  font-weight: 700;
}

/* Le bouton */
.button__hero {
  margin-top: 30px;
}

@media (min-width: 750px) {
  .hero {
    height: 400px;
    width: 100%;
  }
  .fitz {
    font-size: 2rem;
  }
  .bold {
    font-size: 2rem;
    margin-bottom: 15px;
  }
}
.quality {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.quality img {
  margin: 10px;
}

.quality h3 {
  margin-bottom: 20px;
  font-family: "Roboto";
}

.quality p {
  font-size: 0.6rem;
  color: gray;
}

@media (min-width: 750px) {
  .quality {
    display: flex;
    justify-content: space-between;
  }
}
.promotion {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
  width: 100%;
  background-color: #efefef;
  margin: 10px;
  padding: 20px 10px;
}
.promotion__card {
  border-radius: 10px;
  height: 400px;
  margin-bottom: 10px;
  margin-right: 10px;
  background-size: cover;
}
.promotion__card--club {
  background-image: url("../../images/article-image-1.jpg");
  border: 2px solid black;
}
.promotion__card--actus {
  background-image: url("../../images/article-image-2.jpg");
}
.promotion__content {
  background-color: #ffffff;
  height: 100%;
  width: 40%;
  border-radius: 10px 0 0 10px;
  text-align: center;
  padding: 5px;
}
.promotion__subtitle {
  margin: 10px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #747474;
}
.promotion__description {
  margin: 10px;
}

.Contact {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.Contact hr {
  margin-top: 10px;
  width: 80%;
  background-color: #BDECF6;
  border: 1px solid #BDECF6;
  margin: 0 auto;
}

.Contact p {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 0.6rem;
  width: 90%;
  justify-content: center;
}

.form {
  max-width: 600px;
  margin: 0 auto;
}

.form__field {
  margin-bottom: 20px;
}

.form__label {
  margin-bottom: 8px;
  font-size: 0.9rem;
  letter-spacing: 1px;
  color: #767676;
  font-family: "Roboto";
}

.form__input {
  padding: 5px 10px;
  border: 2px solid #ECECEC;
}

.Contact button {
  width: 40px;
  text-transform: uppercase;
}

@media (min-width: 750px) {
  .Contact {
    margin: 10px;
  }
  .Contact h2 {
    margin-bottom: 10px;
  }
  .Contact hr {
    margin-top: 40px;
    width: 35%;
    background-color: #BDECF6;
    border: 1px solid #BDECF6;
    margin: 0 auto;
  }
  .Contact p {
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    font-size: 0.5rem;
  }
  .form {
    display: flex;
    justify-content: space-around;
  }
  .Contact button {
    height: 30px;
    justify-content: center;
  }
}

/*# sourceMappingURL=main.css.map */
