@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

/* =================================================================================== */
/* BLOCK :  CONTACT                                                                    */
/* =================================================================================== */
.contact{
    text-align: center;
    &__title{
        text-transform: uppercase;
        color: $footer-color;
        width: 70%;
        margin: 0 auto;
        white-space: nowrap;
        font-size: 1.2rem;
        @media(min-width: $desktop)
        {
            width: 30%;
            padding-top: 20px;
            ::after{
                content: "";
                display: block;
                margin: 0 auto;
                border-bottom: 2px solid $lightblue;
                padding-bottom: 5px;
            }

        }
        &::after{
            content: "";
            display: block;
            margin: 0 auto;
            border-bottom: 2px solid $lightblue;
            padding-bottom: 5px;
        }
    }
    &__description{
        margin: 20px 5px;
        font-size: 1rem;
        

    }
}
/* =================================================================================== */
/* BLOCK :  DEBUT DU FORMULAIRE                                                        */
/* =================================================================================== */
.form{
    max-width: 600px;
    margin: 0 auto;
    @media(min-width: $desktop){
        margin: 0 auto;

    }

    &__field{
        margin-bottom: 15px;
        @media(min-width: $desktop){
            display: inline-block;
            margin-right: 20px;
        }
    }
    &__label{
        margin-right: 5px;
        color: $gray;
        font-weight: bolder;
        @media(min-width: $desktop){
            margin-right: 5px;
            color: $gray;
            font-weight: bolder;
        }
    }
    &__input{
        padding: 5px;
        border: 2px solid $lightgray;

    }
    &__button{
        @include button;
        margin-bottom: 20px;
        @media(min-width: $desktop){
            margin-bottom: 70px;

        }

    }

}


