@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.hero {
    height: 280px;
    gap: 32px;
    background-image: url("/images/main.jpg");
    background-size: cover;
    background-position: center;
    background-size: 350%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media(min-width: $desktop) {
        height: 500px;
        background-size: auto;

    }

    &__title {
        text-align: center;
        color: $white;
        font-size: 1rem;
        line-height: 1;

        @media(min-width: $desktop) {
            font-size: 4rem;
        }

    }

    &__title {
        font-weight: 300;
        text-transform: uppercase;

    }

    &__bold {
        font-weight: bold;
        display: block;

    }

    &__button {
        @include button;

    }

}