@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

/* =================================================================================== */
/* BLOCK :  PROMOTION                                                                  */
/* =================================================================================== */
.promotion{
    height: 480px;
    width: 100%;
    background-color: $background-promotion;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    &__cards{
        display: flex;
        height: 210px;
        width: 90%;
        border: 1px solid $lightgray;
        border-radius: 10px;
        margin: 4px;

    }
    &__info{
        background-color: $white;
        height: 100%;
        width: 50%;
        text-align: center;
        border-radius: 10px 0 0 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding-bottom: 10px;
    }
    &__subtitle{
        padding-top: 20px;
        color: $footer-color;
        font-weight: 700;
        text-transform: uppercase;
        &::after{
            content: "";
            display: block;
            width: 80%;
            margin: 0 auto;
            border-bottom: 1px solid $lightgray;
        }

    }
    &__description{
        margin: 5px 2px;
        line-height: 1.5;
        font-size: 0.8rem;
        font-style: italic;
        color: $gray;
    }
    &__button{
        @include button;

    }
}
    
.image__one{
    background-image: url("../../images/article-image-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.image__tow{
    background-image: url("../../images/article-image-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


@media(min-width:750px){

    /* =================================================================================== */
    /* BLOCK :  PROMOTION                                                                  */
    /* =================================================================================== */
    .promotion{
    height: 300px;
    width: 100%;
    background-color: $background-promotion;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 10px;
    padding-top: 30px;
        &__cards{
            height: 210px;
            width: 375px;
            border: 1px solid $lightgray;
            border-radius: 10px;
            margin: 10px;
        }
    }
}