@use "../abstracts/variables" as *;

.header{
    text-align: center;
    padding-top: 10px;
}

a{
    text-decoration: none;
}
.nav__header{
    color: $footer-color;
    font-family: "Crete_Round";
    font-size: 1.8rem;
    white-space: nowrap;
    
}

.pink{
    color: $framboise;
}
/* =================================================================================== */
/* BLOCK : Menu                                                                        */
/* =================================================================================== */
.nav__list{
    display: flex;
    
    justify-content: space-around;
    list-style: none;
    text-align: center;
    margin-top: 20px;
    &__item{
        margin: 0 2px;
    }
    &__link{
        display: inline-block;
    color: $footer-color;
    font-weight: 700;
    font-size: 0.7rem;
    text-transform: uppercase;

    }
}


@media (min-width: 750px){
    /* =================================================================================== */
    /* BLOCK : header                                                                      */
    /* =================================================================================== */
    /* =================================================================================== */
    /* BLOCK : Title                                                                       */
    /* =================================================================================== */
    .header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0 20px;

    }
    .nav__list{
        gap: 20px;
    }
}