@use "../abstracts/variables" as *;

.header{
    text-align: center;
    padding-top: 10px;
    color: $footer-color;
    margin-bottom: 10px;
    @media(min-width: $desktop){
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 80px;
        align-items: flex-end;
        padding: 0 20px;

    }



     &__nav{
        color: $footer-color;
        font-family: "Crete_Round";
        font-size: 1.8rem;
        white-space: nowrap;

    }

  
    
    &__link-title{
        color: $footer-color;
        text-decoration: none;
        white-space: nowrap;
        font-size: 2rem;
        font-family: "Crete_Round";
    }

    &__nav-link{
        text-decoration: none;
        display: inline-block;
        color: $footer-color;
        font-weight: 700;
        font-size: 0.6rem;
        text-transform: uppercase;
        @media(min-width: $desktop){
            font-size: 0.9rem;
        }

    }
   
    &__nav-list{
        display: flex;
        justify-content: space-around;
        list-style: none;
        text-align: center;
        @media($desktop){
            gap: 10px;
            margin-bottom: 0;

        }
    }
    &__nav-item{
        margin: 0 2px;
    }
}



/* =================================================================================== */
/* BLOCK : Menu                                                                        */
/* =================================================================================== */    